extends ../layout-secundario

block title
	title Criar conta - Jobz

block descricao
	h1 Crie a sua conta para ter acesso aos melhores empregos de TI, Design e Marketing Digital

block erro
	if erro
		.erro #{erro}

block form
	h1 Criar conta
	form(action="/criarconta/candidato" method="post")
		.form-inp
			.col-left
				label Primeiro nome
				input(type="text" name="primeiroNome" required placeholder="Primeiro nome" class="jbz-inp" minlength="3" maxlength="45")
			.col-left
				label Último nome
				input(type="text" name="ultimoNome" required placeholder="Último nome" class="jbz-inp" minlength="3" maxlength="45")

		.form-inp
			.col-left
				label Data de nascimento
				input(type="date" name="dataDeNascimento" required placeholder="Data de nascimento" class="jbz-inp")
			.col-left
				label Genero
				select(name="genero")
					option(value="Masculino") Masculino
					option(value="Feminino") Feminino
			
		.form-inp
			.col-left
				label Nacionalidade
				include ../include/paises

			.col-left
				label Naturalidade
				input(type="text" name="naturalidade" required placeholder="Naturalidade" class="jbz-inp" minlength="3" maxlength="45")
			
		.form-inp
			.col-left
				label Província onde reside
				select(name="provinciaOndeReside" required)
					include ../include/pronvicia-onde-reside
				
			.col-left
				label Morada
				input(type="text" name="morada" required placeholder="Morada" minlength="3" maxlength="45")

		.form-title
			h2 Informações de contacto

		.form-inp
			.col-left
				label Telefone
				input(type="number" name="telefone" placeholder="Telefone" minlength="9" maxlength="13")

			.col-left
				label Telefone alternativo
				input(type="number" name="telefoneAlternativo" placeholder="Telefone alternativo" minlength="9" maxlength="13")

		.form-inp
			.col-left
				label Email
				input(type="email" required name="email" placeholder="Email" class="jbz-inp" minlength="3" maxlength="45")

			.col-left
				label Password
				input(type="password" required name="password" placeholder="*********" class="jbz-inp" minlength="8" maxlength="20")
				
		.form-inp
			button Criar conta