extends ./layout-secundario

block title
	title Confirmação da conta - Jobz

block form
	form(action="/confirmarconta" method="post")
		.form-title
			h1 Confirmação da conta
			p Insira o código que lhe foi enviado no seu email para confirmar a conta e prosseguir.
		.form-inp
			label Código de  confirmação
			input(type="number" required name="codigoDeConfirmacao" placeholder="000000")
		.form-inp
			button Confirmar conta
