extends ../layout-secundario

block title
	title Criar conta Empresa - Jobz

block descricao
	h1 Crie a sua Empresa para poder públicar <b>novas vagas</b> e fazer procura de candidatos.

block erro
	if formError
		.erro #{formError}
		.jb-space.single

block form
	h1 Criar conta Empregador
	.jb-space.single
	form(action="/criarconta/empregador" method="post")
		.form-inp
			.col-left
				label Nome da empresa
				input(type="text" name="nome" required placeholder="Nome da empresa" minlength="3" maxlength="45")
			.col-left
				label Nome do responsável
				input(type="text" name="nomeDoResponsavel" required placeholder="Nome do responsável" minlength="3" maxlength="45")
		.form-inp
			.col-left
				label Ano de fundação
				- var ano = 1970;
				- var anoCorrente = new Date().getFullYear();
				select(name="anoDeFundacao" required)
					while anoCorrente > ano
						option(value=anoCorrente) #{anoCorrente}
						- anoCorrente--;
			.col-left
				label Área de actuação
				include ../include/areaDeActuacao

		.form-inp
			.col-left
				label Email
				input(type="email" name="emailDoResponsavel" required placeholder="Email" minlength="3" maxlength="45")
			.col-left
				label Password
				input(type="password" name="password" required placeholder="*********" minlength="8" maxlength="20")
		.form-inp
			button Criar conta
