extends ./candidato-home

block title
	title Alterar password - Jobz

block content
	.pages.wrap
		h1 Alterar password
		p Use o formulário abaixo para alterar a password da sua conta.
		.jb-space
		
		block erro
			if formError
				.erro #{formError}
				.jb-space.single

		block notificacao
			if notificacao
				div.notificacao #{notificacao}
				.jb-space

		form(action="/candidato/minha-conta/alterar-password" method="post")
			.form-inp
				.col-left
					label Password actual
					input(type="password" name="passwordActual" placeholder="******" required)

				.col-left
					label Nova password
					input(type="password" name="novaPassword" placeholder="******" required)

			.form-inp
				.col-left
					button Guardar