extends ./candidato-home

block title
	title Meu perfil - Jobz

block content
	.pages.wrap
		h1 #{Candidato.primeiro_nome} #{Candidato.ultimo_nome}
		p Use o formulário abaixo para editar as suas informações.
		.jb-space
			
		