/* Formulários */
.form-inp
	margin-bottom 20px
	overflow auto

.form-inp:last-child
	margin-bottom 0

.form-inp .col-left
	width 50%
	float left

.form-inp .col-left:nth-child(2n)
	padding-left 10px

.form-inp input,
.form-inp select,
.form-inp textarea
	width 100%
	height 40px
	background-color #EEE
	border none
	padding-left 10px
	border-radius 3px

.form-inp button,
.btn
	background-color #F15A24
	border none
	border-radius 3px
	color #FFF
	padding 0 30px
	display block
	height 38px
	cursor pointer
	font-size 14px
	
.btn
	width 150px
	text-align center
	padding 10px 0
	float left

.form-inp button:hover,
.btn:hover
	background-color #333

.form-inp label
	display block
	font-size 14px
	color #666

.form-title
	margin-bottom 20px

// NOTIFICAÇÕES	
.erro,
.notificacao
	background-color red
	color #FFF
	width 100%
	padding 20px 10px
	border-radius 3px

.notificacao
	background-color green