/* Formulários */
.form-inp
	margin-bottom 20px
	overflow auto

.form-inp:last-child
	margin-bottom 0

.form-inp .col-left
	width 50%
	float left

.form-inp .col-left:nth-child(2n)
	padding-left 10px

.form-inp input,
.form-inp select,
.form-inp textarea
	width 100%
	height 40px
	background-color #EEE
	border none
	padding-left 10px
	border-radius 3px

.form-inp textarea
	padding-top 10px
	height 100px

.form-inp button,
.btn
	background-color #F15A24
	border none
	border-radius 3px
	color #FFF
	padding 0 30px
	display block
	height 38px
	cursor pointer
	font-size 14px
	float left
	
.btn.disabled
	background-color #333
	
.form-inp button:last-child,
.form-inp .btn:last-child
	margin-left 10px
	
.form-inp button:first-child,
.form-inp .btn:first-child
	margin-left 0px
	
.form-inp input[type="checkbox"]
	width initial
	height initial

.btn a
	color #FFF

.form-inp button:hover,
.btn:hover
	background-color #333

.form-inp label
	display block
	font-size 14px
	color #666
	
.form-inp span
	color #666
	font-size 14px

.form-title
	margin-bottom 20px

// NOTIFICAÇÕES	
.erro,
.notificacao
	background-color red
	color #FFF
	width 100%
	padding 20px 10px
	border-radius 3px

.notificacao
	background-color green