extends ./empregador-home

block content
	.pages.wrap
		h1 Publicar vaga
		p Use o formulário abaixo para públicar uma nova vaga de emprego.

		.jb-space

		form(action="/empregador/publicar-vaga" method="post")
			.form-inp
				.col-left
					label(for="") Cargo
					input(type="text" name="cargo" required placeholder="Cargo")
				.col-left
					label(for="") Tipo de contrato
					select(name="tipoDeContrato")
						option(value="Estágio") Estágio
						option(value="Tempo determinado") Tempo determinado
						option(value="Tempo indeterminado") Tempo indeterminado
						option(value="Prestação de serviços") Prestação de serviços
			.form-inp
				.col-left
					label(for="") Anos de experiência
					input(type="number" name="anosDeExperiencia" required placeholder="Anos de experiência")
				.col-left
					label(for="") Salário
					input(type="number" name="salario" placeholder="130.000 KZ")
			.form-inp
				.col-left
					label(for="") Área de actuação
					include ../include/areaDeActuacao

				.col-left
					label(for="") Província
					include ../include/provincias

			.form-inp
				.col-left 
					label(for="") Descrição da função
					textarea(name="descricao", cols="30", rows="10" maxlength="1000" placeholder="Descrição da função")

				.col-left 
					label(for="") Habilidades necessárias
					textarea(name="habilidadesNecessarias", maxlength="1000" cols="30", rows="10" required placeholder="Habilidades necessárias")

			.form-inp
				.col-left
					label(for="") Quantidade de vagas disponíveis
					input(type="number" name="quantidadeDeVagas" placeholder="1" min="1" max="100" required)
				.col-left
					label(for="") Data limite
					input(type="date" name="dataLimite" required)
			.form-inp
				.col-left
					label(for="") Nível académico
					select(name="nivelAcademico" required)
						option(value="") Escolha um nível académico
						option(value="Ensino de base") Ensino de base
						option(value="Técnico médio") Técnico médio
						option(value="Frequência universitária") Frequência universitária
						option(value="Licenciado") Licenciado
						option(value="Mestre") Mestre
						option(value="PhD") PhD

				.col-left
					label(for="") Idiomas
					.jb-space.single
					.col-left
						span Português &nbsp;
						input(type="checkbox" value="Português" name="idiomas")
					.col-left
						span Inglês &nbsp;
						input(type="checkbox" value="Inglês" name="idiomas")
					.col-left
						span Francês &nbsp;
						input(type="checkbox" value="Francês" name="idiomas")
					.col-left
						span Espanhol &nbsp;
						input(type="checkbox" value="Espanhol" name="idiomas")
					.col-left
						span Quimbundo &nbsp;
						input(type="checkbox" value="Quimbundo" name="idiomas")
					.col-left
						span Kikongo &nbsp;
						input(type="checkbox" value="Kikongo" name="idiomas")

			.form-inp
				.col-left
					button Públicar vaga

				//.col-left
					button Guardar como rascunho


				//.col-left
					label(for="") Idiomas
					input(type="checkbox" value="Português" name="idiomas")
					input(type="checkbox" value="Inglês" name="idiomas")
					input(type="checkbox" value="Espanhol" name="idiomas")
					input(type="checkbox" value="Francês" name="idiomas")
					input(type="checkbox" value="Mandarin" name="idiomas")