extends ../layout-secundario

block title
	title Login - Jobz	

block descricao
	h1 Faça o login para ter acesso aos melhores <br> empregos de TI, Design e Marketing Digital em Angola.

block erro
	if formError
		.erro #{formError}

block form
	h1 Login Candidato
	.jb-space.single
	form(action="/login/candidato" method="post")
		.form-inp
			label Email
			input(name="email" type="email" required placeholder="Email")

		.form-inp
			label Password
			input(type="password" required placeholder="********" name="password")

		.form-inp
			button Entrar