extends ../layout-secundario

block title
	title Login Empregador - Jobz

block descricao
	h1 Faça o Login na sua conta empresa para poder públicar <b>novas vagas</b> e fazer procura de candidatos.

block notificacao
	if formLogin
		div.notificacao #{ formLogin }
		.jb-space.single

block erro
	if formError
		div.erro #{ formError }
		.jb-space.single

block form
	h1 Login Empregador
	.jb-space.single
	form(action="/login/empregador" method="post")
		.form-inp
			label Email
			input(type="email" minlength="8" maxlenght="45" name="email" placeholder="Email" value="" required)
		.form-inp
			label Password
			input(type="password" name="password" placeholder="*********" value="" required minlength="8" maxlenght="45")
		.form-inp
			.col-left
				button Entrar
				button.btn
					a(href="/criarconta/empregador" alt="Criar conta Empregador") Criar conta Empregador