select(name="areaDeActuacao")
	option(value='')
	option(value='Actividade agrícola') Actividade agrícola
	option(value='Administração e apoio de escritório') Administração e apoio de escritório
	option(value='Banca, seguros') Banca, seguros
	option(value='Beleza, fitness e desporto') Beleza, fitness e desporto
	option(value='Ciências') Ciências
	option(value='Compras, logística e comércio') Compras, logística e comércio
	option(value='Consultoria, auditoria e estratégia empresarial') Consultoria, auditoria e estratégia empresarial
	option(value='Engenharia') Engenharia
	option(value='Ensino, formação e línguas') Ensino, formação e línguas
	option(value='Finanças e contabilidade') Finanças e contabilidade
	option(value='Gestão e executivo') Gestão e executivo
	option(value='Imobiliário e construção') Imobiliário e construção
	option(value='Informática e TI') Informática e TI
	option(value='Jurídico') Jurídico
	option(value='Marketing, comunicação e relações públicas') Marketing, comunicação e relações públicas
	option(value='Moda e espectáculo') Moda e espectáculo
	option(value='Pesquisa e Desenvolvimento') Pesquisa e Desenvolvimento
	option(value='Petróleos – Técnico especializado') Petróleos – Técnico especializado
	option(value='Profissionais, operários e ofícios') Profissionais, operários e ofícios
	option(value='Qualidade, Higiene, Segurança e Ambiente') Qualidade, Higiene, Segurança e Ambiente
	option(value='Recursos Humanos') Recursos Humanos
	option(value='Restauração, hotelaria e turismo') Restauração, hotelaria e turismo
	option(value='Saúde') Saúde
	option(value='Vendas e atendimento ao cliente') Vendas e atendimento ao cliente