select(name="areaDeActuacao")
	option(value="Tecnológias de Informação") Tecnológias de Informação 
	option(value="Comunicação e Marketing") Comunicação e Marketinga
	option(value="Telecomunicações") Telecomunicações
	option(value="Banca") Banca
	option(value="Recursos Humanos") Recursos Humanos
	option(value="Indústria Petrolífera") Indústria Petrolífera
	option(value="Construção Cívil") Construção Cívil
	option(value="Saúde") Saúde
	option(value="Ensino e Formação") Ensino e Formação
	option(value="Finanças") Finanças