option(value="Bengo") Bengo
option(value="Benguela") Benguela
option(value="Bié") Bié
option(value="Cabinda") Cabinda
option(value="Cuando Cubando") Cuando Cubango
option(value="Kwanza Norte") Kwanza Norte
option(value="Kwanza Sul") Kwanza Sul
option(value="Cunene") Cunene
option(value="Huambo") Huambo
option(value="Huíla") Huíla
option(value="Luanda") Luanda
option(value="Lunda Norte") Lunda Norte
option(value="Lunda Sul") Lunda Sul
option(value="Malanje") Malanje
option(value="Moxico") Moxico
option(value="Namibe") Namibe
option(value="Uíge") Uíge
option(value="Zaire") Zaire