html
	head
		title Confirmação da conta - Jobz

	body

		form(action="/confirmarconta" method="post")
			label Código de  confirmação
			input(type="number" required name="codigoDeConfirmacao" placeholder="000000")
			button Confirmar conta