extends ./layout-secundario

block title
	title Login Empresa - Jobz

block descricao
	h1 Faça o Login na sua conta empresa para poder públicar <b>novas vagas</b> e fazer procura de candidatos.

block notificacao
	if formLogin
		div.notificacao #{ formLogin }
		.jb-space.single

block form
	h1 Login Empresa
	.jb-space.single
	form(action="/empregadorlogin" method="post")
		.form-inp
			label Email
			input(type="email" name="email" placeholder="Email")
		.form-inp
			label Password
			input(type="password" name="password" placeholder="*********")
		.form-inp
			.col-left
				button Entrar
			.col-left
				a(href="/empregadorcriarconta" alt="Criar conta Empregador" class="btn") Criar conta Empregador