extends ./layout

block content
	.home-destaque
		.wrap
			h1 Vagas de emprego em <b>Tecnologia</b>, <br><b>Design</b> e <b>Marketing</b>
			p Está a procura de uma nova oportunidade de emprego? Ou deseja encontrar o candidato <br> perfeito para uma vaga? Use o nosso portal.

	.home-vagas
		.wrap
			.procura
				div.title PROCURAR VAGAS
				.jb-space.single
				form(action="/procurar-vagas" method="post")
					.form-inp
						.col-left
							input(type="text" required name="pesquisa" placeholder="Programador Java")
						.col-left
							include ./include/provincias
						.col-right
							button PROCURAR
		.jb-space
		.row.wrap
			div.title ÚLTIMAS VAGAS
			.jb-space.single
			if !semVagas
				each vaga, i in Vagas
					article.vagas
						.logo-empresa.col-left
							img(src="/img/default.jpg")
						.descricao-vaga.col-right
							.meta-dados
								h1 #{vaga.cargo}
								hr
								p.empresa <i class="fa fa-users" aria-hidden="true"></i> #{vaga.nome}
								.jb-space.single
								p.data-location <i class="fa fa-map-marker" aria-hidden="true"></i> #{vaga.provincia} &nbsp; | &nbsp; <i class="fa fa-calendar" aria-hidden="true"></i> #{vaga.data_de_publicacao}

