html(lang="pt")
	head
		meta(charset="utf-8")
		block title
			title Login - Jobz
		// CSS
		link( rel="stylesheet" href="/css/estilo-principal.css")
		link( rel="stylesheet" href="/css/main.css")

	// Corpo
	body

		// Esquera com a imagem e o texto
		.left-col.painel-home.painel-login.painel-msg
			.vertical-center
				block descricao
					
		// Direita com os formulários
		.right-col.painel-home.painel-form
			.content
				// Logotipo
				.logotipo
					a(href="/")
						img(src="/img/logotipo.png" alt="Jobz")
				.jb-space

				block erro

				block notificacao

				block form